@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
nav .nav-link{
    color: #282828;
}
nav .nav-link:hover{
    color: #282828;
}
nav .active{
    border: 1px solid #E20000;
    border-radius: 20px;
}
h1{
    color: #e20000;
    font-size: 36px;
}
p{
    color: #6a6a6a;
    font-size: 16px;
}
textarea{
    height: 150px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.form-control{
    border-radius: 14px;
    display: block;
}
input{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.btn-blanco{
    background-color: white;
    color: #37096d;
    border-radius: 14px;
}
.btn-blanco:hover{
    background-color: #37096d;
    color: white;
}
.btn-rojo{
    background-color: #e20000;
    color: white !important;
    font-weight: 100;
    border-radius: 15px;
}
.btn-rojo:hover{
    background-color: #37096d;
    color: white;
}
.btn btn-blanco{
    background-color: white;
    color: #37096d;
    border-radius: 15px;
}
#inicio{
    background-image: url(../images/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#inicio .div-cohete{
    height: 410px;
}
#inicio .cohete{
    height: 400px;
}
#inicio .cohete:hover{
    height: 410px;
}
#inicio .input-home p{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}
#inicio .fa-brands:hover{
    color: white;
}
#inicio .btn-blanco{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
#inicio footer a:hover{
    color: #0d6efd;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#proyectos footer, #proyectos footer a{
    color: #E20000;
}
#proyectos footer a:hover{
    color: #0d6efd;
}
#proyectos .a-brand:hover{
    color: #E20000;
}
#sobre-mi footer, #sobre-mi footer a{
    color: #E20000;
}
#sobre-mi{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contacto .fa-brands:hover{
    color: white;
}
.proyecto{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: white;
}
.proyecto h2{
   font-size: 16px;
   color: white; 
   text-transform: uppercase; 
   background-color: red;
}
.proyecto p{
    font-size: 14px;
    height: 148px;
}
.proyecto a{
    color: #E20000;
}
.proyecto img{
    height: 208px;
}
footer, footer a{
    color: white;
    font-weight: 100;
}
.fa-brands{
    font-size: 28px;
}
.imagen-portfolio{
    height:300px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}
.whatsapp{
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #37096d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.fa-whatsapp{
    font-size: 34px;
    color: white;
}
@media (max-width: 750px) {
    #inicio, #contacto{
        background-image: url(../images/fondo-proyectos.png);
        }    
    #inicio .input-home p {
            color: #E20000;
            border: 1px solid #E20000;
        }
    #inicio footer, footer a {
            color:#E20000;
            font-weight: 100;
        }
}